@import '../../bourbon/app/assets/stylesheets/bourbon';

@import 'mixins/font-size';
@import 'mixins/rhythm-line-height';
@import 'mixins/rhythm';

/// Whether to show visible baseline grid
/// @group Options
$show-baseline-grid: false !default;
$base-line-height: 1.4 !default;

/// Offset for baseline grid (if visible)
/// @group Options
$baseline-grid-offset: 0 !default;

$height: $em-base * $base-line-height;

@if $show-baseline-grid {
	body::after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		min-height: 100vh;
		background-image: linear-gradient(to bottom, transparent 0, transparent $height - 1px, hsl(180, 100, 80) $height - 1px, hsl(180, 100, 80) $height);
		background-repeat: repeat-y;
		background-position: 0 $baseline-grid-offset;
		background-size: 100% $height;
		content: '';
    z-index: -1;
	}
}

/// Show highlight behind text
/// @group Typography
@mixin highlight {
  background-color: rgba(255, 0, 255, 0.1);
}
