$show-baseline-grid: true;
$em-base: 20px;
$baseline-grid-offset: -6px;

@import 'sass/type-aid';

p, ul, ol, h1, h2, h3, h4, h5, h6, blockquote {
	margin: 0;
}





html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: $em-base;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial;
	line-height: $base-line-height;
}

p {
	@include rhythm(margin-bottom);
}

h1 {
	@include font-size(6);
	@include rhythm(margin-bottom);
	position: relative;
	top: -0.1em;
}

h2 {
	@include font-size(5);
	@include rhythm(margin-bottom);
}

h3 {
	@include font-size(4);
}

h4 {
	@include font-size(3);
}

h5 {
	@include font-size(2);
}

h6 {
	@include font-size(1);
}

blockquote {
	font-size: 36px;
	@include rhythm-line-height(36px);
}
