body::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, transparent 0, transparent 27px, #99ffff 27px, #99ffff 28px);
  background-repeat: repeat-y;
  background-position: 0 -6px;
  background-size: 100% 28px;
  content: ''; }

p, ul, ol, h1, h2, h3, h4, h5, h6, blockquote {
  margin: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  line-height: 1.4; }

p {
  margin-bottom:  28px;
  margin-bottom:  1.4rem; }

h1 {
  font-size: 112.204659498px;
  font-size: 5.6102329749rem;
  line-height: 1.2477200201;
  transform: translateY(43.2137688173px);
  margin-bottom:  28px;
  margin-bottom:  1.4rem;
  position: relative;
  top: -0.1em; }

h2 {
  font-size: 84.1745382584px;
  font-size: 4.2087269129rem;
  line-height: 1.3305686294;
  transform: translateY(31.5887988126px);
  margin-bottom:  28px;
  margin-bottom:  1.4rem; }

h3 {
  font-size: 63.1466903664px;
  font-size: 3.1573345183rem;
  line-height: 1.3302359872;
  transform: translateY(21.1192039105px); }

h4 {
  font-size: 47.37186074px;
  font-size: 2.368593037rem;
  line-height: 1.1821363807;
  transform: translateY(11.5163570221px); }

h5 {
  font-size: 35.53778px;
  font-size: 1.776889rem;
  line-height: 1.5757877954;
  transform: translateY(9.5637337px); }

h6 {
  font-size: 26.66px;
  font-size: 1.333rem;
  line-height: 1.0502625656;
  transform: translateY(1.0989px); }

blockquote {
  font-size: 36px;
  line-height: 1.5555555556;
  transform: translateY(9.64px); }
