/// Set font size and line height according to a modular scale.<br>
/// Line height is set at the smallest line-height greater than 1.<br>
/// `margin` is reset to `0`. Set with `rhythm()` or manually.
/// @param {int} $scale [0] Scale
/// @param {num} $modular-scale-ratio [0] Modular scale ratio
/// @param {num} $modular-scale-base [0] Modular scale base
/// @group Typography
/// @require {mixin} modular-scale From [Bourbon](http://bourbon.io/)
/// @require {mixin} rhythm-line-height
@mixin rhythm-font-size($scale: 0, $modular-scale-ratio: $modular-scale-ratio, $modular-scale-base: $modular-scale-base) {

	$em-base: 16px !default;

	@if function-exists(modular-scale) {
		font-size: modular-scale($scale, $em-base);
		font-size: modular-scale($scale, 1rem);
	} @else {
		@error "Mixin 'modular-scale' not found; try importing Bourbon.";
	}

	@include rhythm-line-height(modular-scale($scale, $em-base));

  margin: 0;

}

