/// Get height offset to baseline-align two different font sizes.<br>
/// * Does not work*. Might be futile to try.
/// @param {list} $smaller Smaller font-size and line height,
/// space-separated
/// @param {list} $larger  Larger font-size and line height,
/// space-separated
/// @group Typography
/// @access private
@function baseline-offset($smaller, $larger, $cap-size: 0.66) {

  $larger-font-size:   nth($larger, 1);
  $larger-line-height: nth($larger, 2);

  $smaller-font-size:   nth($smaller, 1);
  $smaller-line-height: nth($smaller, 2);

	// Get height of cap in px
  $c1: $larger-font-size * $cap-size;

	// Get half of empty space around cap
  $l1: (($larger-font-size * $larger-line-height) - $c1) / 2;

	// Get height of cap in px
  $c2: $smaller-font-size * $cap-size;

	// Get half of empty space around cap
  $l2: (($smaller-font-size * $smaller-line-height) - $c2) / 2;

  $dist: ( ($l1 + $c1) - ($l2 + $c2) ) / 2;

  @return $dist;

}
